@model DojoArtesMarciais.Models.Aluno
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><tr>Nome:<th>@Model.Nome</h2>
<h2><tr>CPF:<th>@Model.CPF</h2>
<h2><tr>Faixa:<th>@Model.Faixa</h2>
<h2><tr>Tipo de Associação:<th>@Model.TipoDeAssociacao</h2>
