@model DojoArtesMarciais.Models.TipoDeAssociacao
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><tr>Nome:<th>@Model.Nome</h2>
<h2><tr>Periodo:<th>@Model.Periodo</h2>
<h2><tr>Mensalidade:<th>@Model.Mensalidade</h2>

